
.listWrapper {
  padding: 20px;
}

.emptyPrompt {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #d5d5d5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding:  20px;
}

.addBtn {
  margin-top: 10px;
}
