.header {
  border-bottom: 1px solid #bebebe;
  background-color: #f3f3f3;
  z-index: 1000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.simpleSearch {
  padding: 0 30px;
}

.advanceSearchWrapper {
  border-top: 1px solid #d5d5d5;
}

.advanceSearch {
  padding: 0 30px;
  margin-top: 20px;
}

.advanceSearchBtnWrapper {
  padding: 0 30px;
  margin-bottom: 24px;
}

.advanceSearchBtn {
  margin-right: 6px;
}

.trigger {
  font-size: 18px;
  line-height: 50px;
  padding: 0;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: #00a2ae;
  }
}

.searchIcon {
  cursor: pointer;
}
